<% content_for :title, "Request Appointment with #{photographer.name}" %>
<% content_for :sidebar do %>
<h2>Photography Service Inquiry</h2>
<p>
  Please leave me your name, email, and a brief description about the type of photography session/service you are interested in. Please also include your preferred time frame, location and/or other relevant information as well as any questions you may have. You will hear back asap (usually within 24 hours) with pricing, availability, and answers to all your questions. For more urgent requests, please call <b>860-983-8120</b>.
</p>
<% end %>
<%= simple_form_for(@service_request, :url => service_requests_path, :html => { :class => 'form-vertical' }) do |form| %>
<%= render "shared/error_messages", :target => @service_request %>

<%= form.input :name, :hint => 'Your name' %>
<%= form.input :email, :hint => 'Your email address so I can get back to you.' %>
<%= form.input :phone, :hint => 'Your preferred contact phone number.' %>
<%= form.input :day, :label => 'Preferred Phone Time of Day', as: :boolean, checked_value: false, unchecked_value: true  %>

<%= form.input :address, :hint => 'Please enter the street address of the photography session/appointment.', required: false %>
<%= form.input :state, :hint => 'In what state are you booking an appointment for?', required: false %>
<%= form.input :message, :label => 'The description of the service you are requesting. Please be specific.', :input_html => { :class => 'medium' } %>
<div class="form-actions">
  <%= form.button :submit, 'Send Request', :class => 'btn btn-primary' %>
</div>
<% end %>

<style>



</style>

// <script>

// $('document').ready(function(){

//   $('input').on('focus', function(){ $.closest('.help-block').show()

// });

// });

// </script>