<div class="affiliates-container">

  <div class="row affiliates" id="affiliates-1">
    <div class="span3 affiliate">
  <%= image_tag("/assets/affiliates/mcdaniel.png", width: "200", id: "mcdaniel") %>
    </div>
    <div class="span3 affiliate">
  <%= image_tag("/assets/affiliates/cadillac-ranch.png", width: "150", id: "cadillac-ranch") %>
    </div>
    <div class="span3 affiliate">
  <%= image_tag("/assets/affiliates/poorboys.png", width: "150", id: "poorboys") %>
    </div>
    <div class="span3 affiliate">
  <%= image_tag("/assets/affiliates/clocklogo.png", width: "100", id: "clocklogo") %>
    </div>
  </div>

  <div class="row affiliates" id="affiliates-2">
    <div class="span3 affiliate">
  <%= image_tag("/assets/affiliates/pulse.png", width: "200", id: "pulse") %>
    </div>
    <div class="span3 affiliate">
  <%= image_tag("/assets/affiliates/monsto.png", width: "150", id: "monsto") %>
    </div>
    <div class="span3 affiliate">
  <%= image_tag("/assets/affiliates/shadow2.png", width: "200", id: "shadowroom") %>
    </div>
    <div class="span3 affiliate">
  <%= image_tag("/assets/affiliates/stateline.jpeg", width: "200", id: "stateline") %>
    </div>
  </div>

</div>