<div class="affiliates-container">
  <div class="row affiliates" id="affiliates-1">
    <div class="span3 affiliate">
  <%= image_tag("/assets/affiliates/mcdaniel.png", width: "200", id: "stateline") %>
    </div>
    <div class="span3 affiliate">
  <%= image_tag("/assets/affiliates/cadillac-ranch.png", width: "150", id: "stateline") %>
    </div>
    <div class="span3 affiliate">
  <%= image_tag("/assets/affiliates/poorboys.png", width: "150", id: "stateline") %>
    </div>
    <div class="span3 affiliate">
  <%= image_tag("/assets/affiliates/clocklogo.png", width: "100", id: "stateline") %>
    </div>
  </div>
  <div class="row affiliates" id="affiliates-2">
    <div class="span3 affiliate">
  <%= image_tag("/assets/affiliates/mcdaniel.png", width: "200", id: "stateline") %>
    </div>
    <div class="span3 affiliate">
  <%= image_tag("/assets/affiliates/cadillac-ranch.png", width: "150", id: "stateline") %>
    </div>
    <div class="span3 affiliate">
  <%= image_tag("/assets/affiliates/poorboys.png", width: "150", id: "stateline") %>
    </div>
    <div class="span3 affiliate">
  <%= image_tag("/assets/affiliates/clocklogo.png", width: "100", id: "stateline") %>
    </div>
  </div>
</div>