<footer>
  <div class="container">
    <div class="row">
      <div class="span12" id="foot-content">
        <div class="row">
          <div class="col-xs-2">
            <h4>Photo Galleries</h4>
            <ul class="unstyled">
              <% galleries.each do |gallery| %>
              <li>
                <%= link_to(truncate(gallery.name, :length => 32), gallery_url(gallery)) %>
              </li>
              <% end %>
            </ul>
          </div>
          <div class="col-xs-2">
            <h4>Company Info</h4>
            <ul class="unstyled">
              <% pages.each do |page| %>
              <li>
                <%= link_to(truncate(page.name, :length => 32), page_url(page)) %>
              </li>
              <% end %>
              <li>
                <%= link_to('Contact', new_contact_request_url) %>
              </li>
            </ul>
          </div>
          <div class="col-xs-3">
            <% if photographer.blog_url.blank? %>
            <h4>Recent Posts</h4>
            <ul class="unstyled">
              <% recent_posts.each do |post| %>
              <li>
                <%= link_to(truncate(post.title, :length => 32), post_url(post)) %>
              </li>
              <% end %>
            </ul>
            <% end %>
          </div>
          <div class="col-xs-5 pull-right" id="tagline-column">
            <div id="contact-info">
              <p>
                <% unless photographer.phone.blank? %>
                <strong>Phone</strong>: <%= photographer.phone %>
                <% end %>
              </p>
              <p>
                <strong>Email:</strong> <%= mail_to(photographer.email, photographer.email, :encode => 'javascript').html_safe %>
              </p>
            </div>
            <div id="tagline-info">
              <p>
                <%= photographer.description %>
                <%= render partial: "shared/social"%>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-floor">
    <div class="container">
      <div class="row" id="foot-sole">

        <div class="col-xs-12">
          <%= "&copy; #{Time.now.year} #{photographer.name} All Rights Reserved".html_safe %>
          Website Development by <a href="http://www.ryanskelley.com">Ryan Kelley</a>
          <% unless photographer.phone.blank? %>
          <%= link_to(photographer.phone, "tel:#{photographer.phone}") %>
          <% end %>
          <%= mail_to(photographer.email, photographer.email, :encode => 'javascript').html_safe %>

        </div>

      </div>
    </div>
  </div>
</footer>
<% unless photographer.google_analytics_key.blank? %>
<%= render :partial => 'shared/google_analytics', :locals => { :key => photographer.google_analytics_key } %>
<% end %>
