 <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">Photo Galleries<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% galleries.each do |gallery| %>
            <li class=<%= (defined?(@gallery) and @gallery.id == gallery.id ? 'active' : '')%>> <%=link_to(gallery.name,gallery_url(gallery)) %>
            </li>
            <% end %>
            <li>
              <%= link_to("All", '/galleries') %>
            </li>
          </ul>
        </li>
        <% pages.each do |page| %>
        <li class=<%= (defined?(@page) and @page.id == page.id ? 'active' : '')%>> <%= link_to(page.name, page_url(page)) %>
        </li>
        <% end %>
        <li class=<%= controller.controller_name == 'posts' ? 'active' : '' %>> <%= link_to('Blog', photographer.blog_url.blank? ? posts_url : photographer.blog_url) %>
        </li>
        <li class="divider-vertical"></li>
        <li class=<%= controller.controller_name == 'contact_requests' ? 'active' : '' %>> <%= link_to('Contact', new_contact_request_url) %>
        </li>
        <li class=<%= controller.controller_name == 'service_requests' ? 'active' : '' %>> <%= link_to('Request Appointment', new_service_request_url) %>
        </li>
      </ul>
      <div class="pull-right">
        <%= link_to(photographer.name, homepage_path, :class => 'brand') %>
      </div>
    </div>
  </div>
</div>