.navbar.navbar-fixed-top
	.navbar-inner
		.container
			%ul.nav
				- galleries.each do |gallery|
					%li{ :class => (defined?(@gallery) and @gallery.id == gallery.id ? 'active' : '') }= link_to(gallery.name,   gallery_url(gallery))
				- pages.each do |page|
					%li{ :class => (defined?(@page) and @page.id == page.id   ? 'active' : '') }= link_to(page.name, page_url(page))
				%li{ :class => controller.controller_name == 'posts' ? '  active' : '' }= link_to('Blog', photographer.blog_url.blank? ? posts_url : photographer.blog_url)
				%li.divider-vertical
				%li{ :class => controller.controller_name == '  contact_requests' ? 'active' : '' }= link_to('Contact',   new_contact_request_url)
			.pull-right= link_to(photographer.name, root_url, :class => 'brand')

			/ %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
			/   %span.icon-bar
			/   %span.icon-bar
			/   %span.icon-bar
			/ %a.brand{:href => "#"} Project name
			/ .nav-collapse
			/   %ul.nav
			/     %li.active
			/       %a{:href => "#"} Home
			/     %li
			/       %a{:href => "#about"} About
			/     %li
			/       %a{:href => "#contact"} Contact

.jumbotron.masthead
	.inner
		%h1= photographer.name
		%p= photographer.tagline
.row
	.span12
		#carousel.carousel
			.carousel-inner
				- galleries.each_with_index do |gallery, idx|
					%div{ :class => "item#{' active' if idx == 0}" }
						= link_to( image_tag(gallery.cover.thumb('940x500!').url), gallery_url(gallery) )

.marketing
	- galleries.each_slice(3) do |galleries|
		.row
			- galleries.each do |gallery|
				.span4
					%h2= link_to(gallery.name, gallery_path(gallery), :class => 'marketing-link')
					%p= gallery.description
					%p= link_to('View this gallery &raquo;'.html_safe, gallery_url(gallery), :class => 'btn')
