<!-- <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <% galleries.each do |gallery| %>
        <li class=<%= (defined?(@gallery) and @gallery.id == gallery.id ? 'active' : '') %>> <%= link_to(gallery.name,   gallery_url(gallery)) %>
        </li>
        <% end %>
        <% pages.each do |page| %>
        <li class=<%=(defined?(@page) and @page.id == page.id   ? 'active' : '')%>> <%= link_to(page.name, page_url(page)) %>
        </li>
        <% end %>
        <li class=<%= controller.controller_name == 'posts' ? '  active' : ''%>> <%= link_to('Blog', photographer.blog_url.blank? ? posts_url : photographer.blog_url) %>
        </li>
        <li class="divider-vertical"></li>
        <li class=<%= controller.controller_name == '  contact_requests' ? 'active' : ''%>> <%= link_to('Contact',   new_contact_request_url) %>
        </li>
      </ul>
      <div class="pull-right">
        <%= link_to(photographer.name, root_url, :class => 'brand') %>
      </div>
    </div>
  </div>
</div> -->
<!-- end alternate navbar -->

<%= render :partial => 'shared/navbar' %>


<!-- end dropdown navbar -->

<div id="frontpage-logo-container">
  <%= image_tag("/assets/logos/SHPlogo-1.png", width: "500", id: "frontpage-logo-image") %>
</div>

<div class="jumbotron masthead">
  <div class="inner front-heading">
    <h1>
      <%= photographer.name %>
    </h1>
    <p id="header-tagline">
      <%= photographer.tagline %>
    </p>
  </div>
</div>
<!-- frontpage carousel replaced with backstretch partial -->
<%= render "shared/backstretch_carousel" %>

<hr class="frontpage-rule" id="carousel-rule">

<div class="panel panel-primary" id="portfolio-panel">
  <div class="panel-heading">
    <h1>Portfolio</h1>
  </div>
  <div class="panel-body">
    <div class="marketing">
      <% galleries.each_slice(3) do |galleries| %>
      <div class="row">
        <% galleries.each do |gallery| %>
        <div class="span4">
          <div class="thumbnail">
            <h2 class="gallery-name">
              <%= link_to(gallery.name, gallery_path(gallery), :class => 'marketing-link') %>
            </h2>
            <div class="content">
              <p class="gal-description">
                <%= gallery.description %>
              </p>
              <p class="gal-button-row">
                <%= link_to('View this gallery &raquo;'.html_safe, gallery_url(gallery), :class => 'btn gal-button') %>
              </p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div> <!-- end panel-body -->
  </div> <!-- end panel panel-primary -->
</div>

<hr id="carousel-rule-middle">

<% if photographer.blog_url.blank? %>
<div class="blog-widget-container">
<div class="row">
  <div class="panel-heading add-bottom-border">
    <h1>Blog Posts</h1>
  </div>
<%= render "shared/recent-posts-widget" %>
</div><!-- end row -->
</div> <!-- end blog-widget-container -->
<% end %>

<hr class= "frontpage-rule" id="bottom-rule">
