<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js" lang="en">
<head>
  <meta content="<%= photographer.google_verification %>" name="google-site-verification"/>
  <title>
    <%= @meta_title %>
  </title>
  <% unless @keywords.blank? %>
  <meta content="<%= @keywords %>" name="keywords"/>
  <% end %>
  <% unless @meta_description.blank? %>
  <meta content="<%= @meta_description %>" name="description"/>
  <% end %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/flatly/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
</head>
<%= render "/shared/navbar" %>
<body class="background-pic">

      <%= yield %>
</body>
<%= render "/shared/small-foot" %>
<script>
  $(document).ready(function(){

  // To attach Backstrech as the body's background
  // $.backstretch("path/to/image.jpg");

  // You may also attach Backstretch to a block-level element
  // $(".foo").backstretch("path/to/image.jpg");

  // Or, to start a slideshow, just pass in an array of images
  // $(".background-pic").backstretch([
  //   "assets/penny.jpg",
  //   "assets/car.jpg",
  //   "assets/truck.jpg"
  //   "assets/fox.jpg"
  // ], {duration: 4000});
   $.backstretch([
      "assets/penny.jpg"
    ,  "assets/car.jpg"
    , "assets/fox.jpg"
    , "assets/truck.jpg"
  ], {duration: 3000, fade: 750});
  });
</script>
</html>