<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js" lang="en">
<head>
  <meta content="<%= photographer.google_verification %>" name="google-site-verification"/>
  <title>
    <%= @meta_title %>
  </title>
  <% unless @keywords.blank? %>
  <meta content="<%= @keywords %>" name="keywords"/>
  <% end %>
  <% unless @meta_description.blank? %>
  <meta content="<%= @meta_description %>" name="description"/>
  <% end %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/flatly/bootstrap.min.css" rel="stylesheet">
</head>
<!-- render "/shared/navbar"  -->
<body class="background-pic">

      <%= yield %>
</body>
<%= render "/shared/small-foot" %>
<script>
  $(document).ready(function(){

   $.backstretch([
      "assets/penny.jpg"
    ,  "assets/car.jpg"
    , "assets/fox.jpg"
    , "assets/truck.jpg"
  ], {duration: 10000, fade: 1000});
  });
</script>
</html>